*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{
  font-family:  Verdana;
  background-color:#fff;
    }
a{
  text-decoration:none;
}
header{
  width:80%;
  height:60px;
  background-color:#34495e;
  margin:0 auto;
}
.logo {
  float:left;
  margin-top:12px;
  margin-left:15px;
}
.logo a{
  font-size:1.6em;
  color:#fff;
}
.logo a span{
  font-weight:300;
  color:#e67e22;
}
div#container{
   width:80%;
   margin:0 auto;
   border:2px solid black;
   overflow:hidden;
   min-height:550px;
   

}
aside{
  width:250px;
  min-height:1000px;
  background-color:#171907;
  float:left;
}
nav ul{
	
}
nav ul li{
  list-style:none;
}

nav ul li a{
  color:white;
  display:block;
  padding:10px;
  font-size:0.8em;
  border-bottom:1px solid #030303;
}
nav ul li a:hover{
  background-color:#030303;
  color:white;
  border-left:5px solid #e67e22;
}
nav ul li input#logout{
    background-color: #171907;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:0.8em;
	border-bottom:1px solid #030303;
    cursor: pointer;
	width:246px;
}
nav ul li input#logout:hover{
   background-color:#030303;
  color:white;
  border-top:5px solid #e67e22;
  border-bottom:5px solid #e67e22;
}
section{
  width:auto;
  margin-left:250px;
  height:100%;
  background-color:#fff;
  padding:15px;

}
section p{
	color:#424242;
	font-size:0.73em;
}
article#box{
	margin-top:15px;
}
article#box .box-top{
	color:#fff;
	background-color:#2980b9;
	padding:5px;
	padding-top:5px;
    margin-top:5px;
}
article#box .box-panel{
	padding:15px;
	background-color:#ecf0f1;
	line-height:200%;
	text-align:center;
	
}

/* BUTTON */
.button{
    background-color: #34495e; /* Green */
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.darkblue {
    background-color: white; 
    color: black; 
    border: 2px solid #34495e;
}

.darkblue:hover {
    background-color: #34495e;
    color: white;
}

/* INDEX.HTML */

.box-panel table#order-list{
	 width:100%;
	 text-align:center;
	 border-collapse:collapse;
}
.box-panel table#order-list tr th{
	border:2px solid #bdc3c7;
}
.box-panel table#order-list tr td{
	border:2px solid #bdc3c7;
}
table#showcase img{
	width:60%;
}
table#showcase {
	width:100%;
}

/* ORDER.HTML */
.box-panel table#product-list{
	 width:100%;
	 text-align:center;
	 padding:5px;
	 border-collapse:collapse;
}
.box-panel table#product-list tr th{
	border:2px solid #bdc3c7;
}
.box-panel table#product-list tr td{
	border:2px solid #bdc3c7;
	padding-top:5px;
}
#categories-search {
	margin-bottom:20px;
}

 #categories-search .search_cat{
	 float:left;
}

 #categories-search input[type='search']{
	 float:right;
}
#categories-search .add_product{
	 margin-left:20px;
	 float:right;
}
#categories-search .search_product{
	 margin-left:20px;
	 float:right;
}


/* CART.HTML */
.box-panel table#list-cart{
	 width:100%;
	 text-align:center;
	 padding:20px;
	 border-collapse:collapse;
}
.box-panel table#list-cart tr th{
	border:2px solid #bdc3c7;
	padding:20px;
}
.box-panel table#list-cart tr td{
	border:2px solid #bdc3c7;
	padding:5px;
}
.box-panel table#list-cart input[type='text']{
	width:100;
	height:30;
	text-align:center;
}
.box-panel #total-cart{
	border:2px solid black;
	padding:20px;
	margin:20px;
	float:right;
	background-color:#2980b9;
}
.box-panel #total-cart p{
	color:white;
}

/* MY ACCOUNT.HTML */
.box-panel table#myaccount{
	 width:100%;
	 text-align:center;
	 border-collapse:collapse;
}
 .box-panel table#myaccount tr td{
	border:2px solid #bdc3c7;
	padding:20px;
}
.box-panel table#myaccount tr th{
	padding-top:20px;
}

footer{
	background-color:#bdc3c7;
	text-align:center;
	font-size:20px;
	height:40px;
	padding:10px;
	width:80%;
	margin:0 auto;
	border:2px solid black;
}

